#main_logo {
    height: 15vh;
    display: inline-block;
}

#vid_frame {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -99;
    
    pointer-events: none;

    display: none;
}

.newsbar {
    position: absolute;

    top: 60vh;
    left: 0;
    width: 100%;
    height: 30vh;

    background-color: rgba(0, 0, 139, 0.5);

    padding: 2vh;
}

#alt_back_brain {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    background-image: url("../img/glass_brain.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.white_gradient {
    background: -moz-linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(36%, rgba(0,0,0,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(66%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(108deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
}

.scroll_show {
    display: none;
}