@font-face {
    font-family: Normal;
    src: url("../font/font.woff");
}

body {
    margin: 0;

    overflow-x: hidden;

    font-family: Normal;
}

.top_logo {
    position: fixed;
    top: 4vh;
    left: 2vw;
    height: 40px;

    cursor: pointer;
}